@page
@model TotonHajReza.RazorPage.Pages.Profile.ChangePasswordModel
@{
    ViewData["Title"] = "پروفایل";
    ViewData["selected"] = "ChangePassword";
}
<main>
    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="breadcrumb-index">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-ul">
                            <li class="breadcrumb-li">
                                <a class="breadcrumb-link" href="index.html"> خانه</a>
                            </li>
                            <li class="breadcrumb-li">
                                <span class="breadcrumb-text">حساب</span>
                            </li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- password-area start -->
    <section class="password-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="password-block">
                        <!-- account profile start -->
                       <partial name="Shared/Profile/_ProfileSide" />
                        <!-- account profile start -->
                        <!-- change password start -->
                        <div class="profile-form">
                            <div class="pro-add-title">
                                <h6 data-animate="animate__fadeInUp">تغییر رمز عبور</h6>
                            </div>
                            <form method="post">
                            
                                <ul class="pro-input-label" data-animate="animate__fadeInUp">
                                    <li>
                                        <label>شماره تماس</label>
                                        <input type="text" name="name" placeholder="شماره موبایل">
                                    </li>
                                </ul>
                                <ul class="pro-input-label" data-animate="animate__fadeInUp">
                                    <li>
                                        <label>رمز عبور قدیمی</label>
                                        <input type="password" asp-for="CurrentPassword" name="CurrentPassword" placeholder="رمز عبور قدیمی">
                                    </li>
                                </ul>
                                <ul class="pro-input-label" data-animate="animate__fadeInUp">
                                    <li>
                                        <label>رمز عبور جدید</label>
                                        <input type="password" asp-for="NewPassword" name="NewPassword" placeholder="رمز عبور جدید">
                                    </li>
                                </ul>

                                <ul class="pro-input-label" data-animate="animate__fadeInUp">
                                    <li>
                                        <label>تکرار رمز عبور جدید</label>
                                        <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" placeholder="تکرار رمز عبور جدید">
                                    </li>
                                </ul>

                                <ul class="pro-submit" data-animate="animate__fadeInUp">
                                    <li class="label-info">
                                        <label class="box-area">
                                            <span class="agree-text">اطمینان دارم</span>
                                            <input type="checkbox" class="cust-checkbox">
                                            <span class="cust-check"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <a href="profile.html" class="btn btn-style2 checkout disabled">به روز رسانی پروفایل</a>
                                    </li>
                                    <li>
                                        <button class="btn btn-style2 checkout disabled">bezan tosh</button>
                                    </li>
                                </ul>
                        
                            </form>
                        </div>
                        <!-- change password end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- password-area end -->
</main>