<div class="header-top-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="header-area">
                    <div class="header-element header-logo">
                        <div class="header-theme-logo">
                            <a href="index7.html" class="theme-logo">
                                <img src="/img/logo/logo4.png" class="img-fluid" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="header-element main-menu-area">
                        <div class="main-block">
                            <nav class="main-navigation navbar-expand-xl">
                                <div class="menu-close">
                                    <button class="menu-close-btn">
                                        <span class="menu-close-icon"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse" id="navbarContent">
                                    <!-- header-menu start -->
                                    <div class="header-menu">
                                        <div class="mainmenu-content collapse show" id="main-collapse">
                                            <div class="main-wrap">
                                                <ul class="main-menu">
                                                    <li class="menu-link">
                                                        <a href="index7.html" class="link-title">
                                                            <span class="sp-link-title"> خانه</span>
                                                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                        </a>
                                                        <a href="#collapse-Home" data-bs-toggle="collapse" class="link-title link-title-lg">
                                                            <span class="sp-link-title"> خانه</span>
                                                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                        </a>
                                                        <div class="menu-dropdown menu-single collapse" id="collapse-Home">
                                                            <ul class="ul">
                                                                <li class="menusingle-li">
                                                                    <a href="index.html" class="menusingle-title">
                                                                        <span class="sp-link-title"> صفحه اصلی 01</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="index2.html" class="menusingle-title">
                                                                        <span class="sp-link-title"> صفحه اصلی 02</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="index3.html" class="menusingle-title">
                                                                        <span class="sp-link-title"> صفحه اصلی 03</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="index4.html" class="menusingle-title">
                                                                        <span class="sp-link-title"> صفحه اصلی 04</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="index5.html" class="menusingle-title">
                                                                        <span class="sp-link-title"> صفحه اصلی 05</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="index6.html" class="menusingle-title">
                                                                        <span class="sp-link-title"> صفحه اصلی 06</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="index7.html" class="menusingle-title">
                                                                        <span class="sp-link-title"> صفحه اصلی 07</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="index8.html" class="menusingle-title">
                                                                        <span class="sp-link-title"> صفحه اصلی 08</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="index9.html" class="menusingle-title">
                                                                        <span class="sp-link-title"> صفحه اصلی 09</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="menu-link">
                                                        <a href="collection.html" class="link-title">
                                                            <span class="sp-link-title"> فروشگاه</span>
                                                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                        </a>
                                                        <a href="#menu-shop-banner" class="link-title link-title-lg" data-bs-toggle="collapse">
                                                            <span class="sp-link-title"> فروشگاه</span>
                                                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                        </a>
                                                        <div class="menu-dropdown menu-banner collapse" id="menu-shop-banner">
                                                            <ul class="ul p-0">
                                                                <li class="menubanner-li">
                                                                    <div class="menubanner-img">
                                                                        <a href="collection.html" class="collection-img banner-img">
                                                                            <img src="/img/menu/home4-banner1.jpg" class="img-fluid" alt="menu-banner1">
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="collection-title">
                                                                            <span>هدفون</span>
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <li class="menubanner-li">
                                                                    <div class="menubanner-img">
                                                                        <a href="collection.html" class="banner-img">
                                                                            <img src="/img/menu/home4-banner2.jpg" class="img-fluid" alt="menu-banner2">
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="collection-title">
                                                                            <span>الکترونیکی</span>
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <li class="menubanner-li">
                                                                    <div class="menubanner-img">
                                                                        <a href="collection.html" class="banner-img">
                                                                            <img src="/img/menu/home4-banner3.jpg" class="img-fluid" alt="menu-banner3">
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="collection-title">
                                                                            <span>لوازم خانگی</span>
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <li class="menubanner-li">
                                                                    <div class="menubanner-img">
                                                                        <a href="collection.html" class="banner-img">
                                                                            <img src="/img/menu/home4-banner4.jpg" class="img-fluid" alt="menu-banner4">
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="collection-title">
                                                                            <span> بلندگوها</span>
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="menu-link">
                                                        <a href="colection.html" class="link-title">
                                                            <span class="sp-link-title">مجموعه</span>
                                                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                        </a>
                                                        <a href="#colection" data-bs-toggle="collapse" class="link-title link-title-lg">
                                                            <span class="sp-link-title">مجموعه</span>
                                                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                        </a>
                                                        <div class="menu-dropdown menu-mega collapse" id="colection">
                                                            <ul class="ul container p-0">
                                                                <li class="menumega-li">
                                                                    <a href="javascript:void(0)" class="menumega-title">
                                                                        <span class="sp-link-title">لوازم جانبی</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                                    </a>
                                                                    <div class="menumegasup-dropdown collapse" id="menumega-sup1">
                                                                        <ul class="menumegasup-ul">
                                                                            <li class="menumegasup-li">
                                                                                <a href="product-template.html" class="menumegasup-title">
                                                                                    <span class="sp-link-title"> دوربین</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menumegasup-li">
                                                                                <a href="product-template2.html" class="menumegasup-title">
                                                                                    <span class="sp-link-title">بلوتوث</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menumegasup-li">
                                                                                <a href="product-template3.html" class="menumegasup-title">
                                                                                    <span class="sp-link-title">هدفون</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menumegasup-li">
                                                                                <a href="product-template4.html" class="menumegasup-title">
                                                                                    <span class="sp-link-title"> جلد</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menumegasup-li">
                                                                                <a href="product-template5.html" class="menumegasup-title">
                                                                                    <span class="sp-link-title">قایق</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menumegasup-li">
                                                                                <a href="product-template6.html" class="menumegasup-title">
                                                                                    <span class="sp-link-title"> تماشا کنید</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="menumega-li">
                                                                    <a href="javascript:void(0)" class="menumega-title">
                                                                        <span class="sp-link-title">محصولات خاص</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                                    </a>
                                                                    <div class="menumegasup-dropdown collapse">
                                                                        <ul class="menumegasup-ul">
                                                                            <li class="menumegasup-li">
                                                                                <a href="pro-pendrive.html" class="menumegasup-title">
                                                                                    <span class="sp-link-title">درایو قلم</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menumegasup-li">
                                                                                <a href="product-template.html" class="menumegasup-title">
                                                                                    <span class="sp-link-title">ساعت هوشمند</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menumegasup-li">
                                                                                <a href="product-template.html" class="menumegasup-title">
                                                                                    <span class="sp-link-title">جعبه VR</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menumegasup-li">
                                                                                <a href="product-template7.html" class="menumegasup-title">
                                                                                    <span class="sp-link-title"> ماوس</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menumegasup-li">
                                                                                <a href="product-template.html" class="menumegasup-title">
                                                                                    <span class="sp-link-title">لپ تاپ</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="menumega-li shop-banner-li">
                                                                    <div class="shop-banner banner-hover">
                                                                        <a href="collection.html">
                                                                            <img src="/img/menu/collectione-banner.jpg" class="img-fluid" alt="collectione-banner">
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="menu-link">
                                                        <a href="blog-grid.html" class="link-title">
                                                            <span class="sp-link-title">وبلاگ ها</span>
                                                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                        </a>
                                                        <a href="#collapse-blog" data-bs-toggle="collapse" class="link-title link-title-lg">
                                                            <span class="sp-link-title">وبلاگ ها</span>
                                                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                        </a>
                                                        <div class="menu-dropdown menu-single collapse" id="collapse-blog">
                                                            <ul class="ul">
                                                                <li class="menusingle-li">
                                                                    <a href="blog-grid-without.html" class="menusingle-title">
                                                                        <span class="sp-link-title">01 شبکه وبلاگ</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="blog-grid.html" class="menusingle-title">
                                                                        <span class="sp-link-title">02 شبکه وبلاگ راست</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="blog-grid-right.html" class="menusingle-title">
                                                                        <span class="sp-link-title">03 شبکه وبلاگ چپ</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="article-post-without.html" class="menusingle-title">
                                                                        <span class="sp-link-title">04 پست مقاله</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="article-post.html" class="menusingle-title">
                                                                        <span class="sp-link-title">05 پست مقاله راست</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusingle-li">
                                                                    <a href="article-post-right.html" class="menusingle-title">
                                                                        <span class="sp-link-title">06 پست مقاله چپ</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="menu-link">
                                                        <a href="sitemap.html" class="link-title">
                                                            <span class="sp-link-title">صفحه</span>
                                                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                        </a>
                                                        <a href="#page" data-bs-toggle="collapse" class="link-title link-title-lg">
                                                            <span class="sp-link-title">صفحه</span>
                                                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                        </a>
                                                        <div class="menu-dropdown menu-sub collapse" id="page">
                                                            <ul class="ul">
                                                                <li class="menusub-li">
                                                                    <a href="about-us.html" class="menusub-title">
                                                                        <span class="sp-link-title">درباره ما</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-left"></i></span>
                                                                    </a>
                                                                    <a href="#About" class="menusub-title menusub-title-lg" data-bs-toggle="collapse" aria-expanded="false">
                                                                        <span class="sp-link-title">درباره ما</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                                    </a>
                                                                    <div class="menusup-dropdown collapse" id="About">
                                                                        <ul class="menusup-ul">
                                                                            <li class="menusup-li">
                                                                                <a href="about-us.html" class="menusup-title">
                                                                                    <span class="sp-link-title">درباره ما</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="about-us-2.html" class="menusup-title">
                                                                                    <span class="sp-link-title">درباره ما 2</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="about-us-3.html" class="menusup-title">
                                                                                    <span class="sp-link-title">درباره ما 3</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="about-us.html" class="menusub-title">
                                                                        <span class="sp-link-title">حساب من</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-left"></i></span>
                                                                    </a>
                                                                    <a href="#account" class="menusub-title menusub-title-lg" data-bs-toggle="collapse" aria-expanded="false">
                                                                        <span class="sp-link-title">حساب من</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                                    </a>
                                                                    <div class="menusup-dropdown collapse" id="account">
                                                                        <ul class="menusup-ul">
                                                                            <li class="menusup-li">
                                                                                <a href="order-history.html" class="menusup-title">
                                                                                    <span class="sp-link-title">سفارش</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="profile.html" class="menusup-title">
                                                                                    <span class="sp-link-title">پروفایل</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="pro-address.html" class="menusup-title">
                                                                                    <span class="sp-link-title">آدرس</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="pro-wishlist.html" class="menusup-title">
                                                                                    <span class="sp-link-title">علاقه مندی ها</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="pro-tickets.html" class="menusup-title">
                                                                                    <span class="sp-link-title">تیکت های من</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="billing-info.html" class="menusup-title">
                                                                                    <span class="sp-link-title">اطلاعات صورتحساب</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="track-page.html" class="menusup-title">
                                                                                    <span class="sp-link-title">پیگیری صفحه</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="order-complete.html" class="menusup-title">
                                                                                    <span class="sp-link-title">سفارش تکمیل شده</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="contact-us.html" class="menusub-title">
                                                                        <span class="sp-link-title">با ما تماس بگیرید</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-left"></i></span>
                                                                    </a>
                                                                    <a href="#contact" class="menusub-title menusub-title-lg" data-bs-toggle="collapse" aria-expanded="false">
                                                                        <span class="sp-link-title">با ما تماس بگیرید</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                                    </a>
                                                                    <div class="menusup-dropdown collapse" id="contact">
                                                                        <ul class="menusup-ul">
                                                                            <li class="menusup-li">
                                                                                <a href="contact-us.html" class="menusup-title">
                                                                                    <span class="sp-link-title">با ما تماس بگیرید</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="contact-us-2.html" class="menusup-title">
                                                                                    <span class="sp-link-title"> با ما تماس بگیرید2</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="contact-us.html" class="menusub-title">
                                                                        <span class="sp-link-title"> تسویه حساب</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-left"></i></span>
                                                                    </a>
                                                                    <a href="#checkout" class="menusub-title menusub-title-lg" data-bs-toggle="collapse" aria-expanded="false">
                                                                        <span class="sp-link-title"> تسویه حساب</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                                    </a>
                                                                    <div class="menusup-dropdown collapse" id="checkout">
                                                                        <ul class="menusup-ul">
                                                                            <li class="menusup-li">
                                                                                <a href="checkout-style1.html" class="menusup-title">
                                                                                    <span class="sp-link-title"> سبک پرداخت1</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="checkout-style2.html" class="menusup-title">
                                                                                    <span class="sp-link-title"> سبک پرداخت2</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="checkout-style3.html" class="menusup-title">
                                                                                    <span class="sp-link-title"> سبک پرداخت3</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="contact-us.html" class="menusub-title">
                                                                        <span class="sp-link-title">ویژگی ها</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-left"></i></span>
                                                                    </a>
                                                                    <a href="#features" class="menusub-title menusub-title-lg" data-bs-toggle="collapse" aria-expanded="false">
                                                                        <span class="sp-link-title">ویژگی ها</span>
                                                                        <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                                                    </a>
                                                                    <div class="menusup-dropdown collapse" id="features">
                                                                        <ul class="menusup-ul">
                                                                            <li class="menusup-li">
                                                                                <a href="cancellation.html" class="menusup-title">
                                                                                    <span class="sp-link-title">لغو</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="cart-page.html" class="menusup-title">
                                                                                    <span class="sp-link-title">صفحه سبد خرید</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="wishlist-product.html" class="menusup-title">
                                                                                    <span class="sp-link-title">محصول لیست علاقه مندی</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="menusup-li">
                                                                                <a href="sitemap.html" class="menusup-title">
                                                                                    <span class="sp-link-title">نقشه سایت</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="faq.html" class="menusub-title">
                                                                        <span class="sp-link-title">سوالات متداول</span>
                                                                    </a>
                                                                    <a href="faq.html" class="menusub-title menusub-title-lg" data-bs-toggle="collaps">
                                                                        <span class="sp-link-title">سوالات متداول</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="privacy-policy.html" class="menusub-title">
                                                                        <span class="sp-link-title">سیاست حفظ حریم خصوصی</span>
                                                                    </a>
                                                                    <a href="privacy-policy.html" class="menusub-title menusub-title-lg">
                                                                        <span class="sp-link-title">سیاست حفظ حریم خصوصی</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="payment-policy.html" class="menusub-title">
                                                                        <span class="sp-link-title">سیاست پرداخت</span>
                                                                    </a>
                                                                    <a href="payment-policy.html" class="menusub-title menusub-title-lg">
                                                                        <span class="sp-link-title">سیاست پرداخت</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="shipping-policy.html" class="menusub-title">
                                                                        <span class="sp-link-title"> سیاست حمل و نقل</span>
                                                                    </a>
                                                                    <a href="shipping-policy.html" class="menusub-title menusub-title-lg">
                                                                        <span class="sp-link-title"> سیاست حمل و نقل</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="terms-condition.html" class="menusub-title">
                                                                        <span class="sp-link-title">شرایط &amp; شرط</span>
                                                                    </a>
                                                                    <a href="terms-condition.html" class="menusub-title menusub-title-lg">
                                                                        <span class="sp-link-title">شرایط &amp; شرط</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="return-policy.html" class="menusub-title">
                                                                        <span class="sp-link-title">سیاست بازگشت</span>
                                                                    </a>
                                                                    <a href="return-policy.html" class="menusub-title menusub-title-lg">
                                                                        <span class="sp-link-title">سیاست بازگشت</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="404.html" class="menusub-title">
                                                                        <span class="sp-link-title">404 صفحه</span>
                                                                    </a>
                                                                    <a href="404.html" class="menusub-title menusub-title-lg">
                                                                        <span class="sp-link-title">404 صفحه</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menusub-li">
                                                                    <a href="coming-soon.html" class="menusub-title">
                                                                        <span class="sp-link-title">به زودی</span>
                                                                    </a>
                                                                    <a href="coming-soon.html" class="menusub-title menusub-title-lg">
                                                                        <span class="sp-link-title">به زودی</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="menu-link">
                                                        <a href="https://themeforest.net/item/electon-the-electronics-gadgets-ecommerce-shopify-theme/29635247?s_rank=1" class="link-title">
                                                            <span class="sp-link-title">خرید<span class="hot"> داغ</span></span>
                                                        </a>
                                                        <a href="https://themeforest.net/item/electon-the-electronics-gadgets-ecommerce-shopify-theme/29635247?s_rank=1" class="link-title link-title-lg">
                                                            <span class="sp-link-title">خرید<span class="hot"> داغ</span></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- header-menu end -->
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="header-element header-icon">
                        <div class="header-icon-block">
                            <ul class="shop-element">
                                <li class="side-wrap toggler-wrap">
                                    <div class="toggler-wrapper">
                                        <button class="toggler-btn">
                                            <span class="toggler-icon"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></span>
                                        </button>
                                    </div>
                                </li>
                                <li class="side-wrap user-wrap">
                                    <div class="user-wrapper">
                                        <a class="javascript:void(0)" data-bs-toggle="collapse" href="#store-account" aria-expanded="false">
                                            <span class="user-icon"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></span>
                                        </a>
                                        <div class="user-drower collapse" id="store-account">
                                            <a href="login-account.html"> ورود</a>
                                            <a href="create-account.html">ثبت نام</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="side-wrap search-wrap">
                                    <div class="search-wrapper">
                                        <a href="#searchmodal" data-bs-toggle="modal">
                                            <span class="search-icon"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></span>
                                        </a>
                                    </div>
                                </li>
                                <li class="side-wrap wishlist-wrap">
                                    <div class="wishlist-wrapper">
                                        <a asp-page="wishlist">
                                            <span class="wishlist-icon-count">
                                                <span class="wishlist-icon"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></span>
                                                <span class="wishlist-count">0</span>
                                            </span>
                                        </a>
                                    </div>
                                </li>
                                <li class="side-wrap cart-wrap">
                                    <div class="cart-wrapper">
                                        <a href="javascript:void(0)" class="js-cart-drawer">
                                            <span class="cart-icon-count">
                                                <span class="cart-icon"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg></span>
                                                <span class="cart-count">4</span>
                                            </span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>